.applicant-box {
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 735px;
    height: 40px;
    box-shadow: -4px 4px 8px #57575b;
    transition: transform 0.2s;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 16px;
    background-color: linear-gradient(to right, #b2cadd 0%, #b2cadd 100%);
}

.applicant-box:hover {
    transform: scale(1.02);
}

.applicant-name {
    font-size: 1.35em;
    font-weight: bold;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-column: 1;
}

.applicant-details {
    display: contents;
}
.applicant-detail {
    font-size: 1.1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
}

.applicant-detail:nth-child(1) {
    grid-column: 2;
}

.applicant-detail:nth-child(2) {
    grid-column: 3;
}

.applicant-detail:nth-child(3) {
    grid-column: 4;
}
