.compare-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    height: calc(100vh - 55px); /* Full viewport height */
    z-index: 1000;
}

.timer-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.timer {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-flex;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    color: #f9ede1;
    background-color: #65aed5;
}
.resumes {
    display: flex;
    flex-direction: row;
}
