body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    width: 600px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.tabs {
    display: flex;
    justify-content: center;
    background-color: #5c67f2;
}

.tab {
    padding: 16px;
    cursor: pointer;
    flex: 1;
    color: white;
    font-weight: bold;
    border: none;
    background-color: #5c67f2;
    transition: background-color 0.3s;
}

.tab:hover,
.tab.active {
    background-color: #4a55c0;
}

.tab-content {
    padding: 40px;
}

.join-header {
    margin-top: -12px;
}

.section-container {
    width: 100%;
}

.input {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-bottom: 2px solid #5c67f2;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #5c67f2;
    color: rgb(245, 240, 240);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: bold;
}

.error-message {
    color: red;
    margin-top: 10px;
}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
