body {
    font-family: "Times New Roman", sans-serif;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin: 0;
    padding: 0;
}

.navbar-item a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

.navbar-item a:hover {
    background-color: grey;
    color: white;
}
