.resume-container {
    margin-inline: 25px;
    box-shadow: 10px 12px 8px #9fa6a1;
    transition: transform 0.15s linear;
    overflow: hidden;
    will-change: transform;
}
.resume-container:hover {
    transform: scale(1.015);
}
.resume-container:active {
    transform: scale(0.985);
}
