.upload-instruction {
    color: rgb(0, 0, 0);
    font-style: italic;
}

.upload-container {
    background-color: linear-gradient(to right, #b2cadd 0%, #b2cadd 100%);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}
