body {
    margin: 0;
    padding: 0;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    margin-top: 575px;
}

.welcome-content {
    max-width: 1500px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.welcome-title {
    font-size: 6em;
    font-family: "Graviola-Regular";
    src: url("../fonts/Graviola-Regular.otf") format("opentype");
    margin: 0.5em 0;
    color: #212a31;
}

.welcome-subtitle {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: #212a31;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

.welcome-instructions,
.sift-instructions,
.faq-header {
    font-size: 1.2em;
    margin: 1em 0;
    color: #124e66;
    margin-top: 60px;
}

.welcome-description {
    margin-top: 150px;
    font-size: 1.3em;
    margin: 1em 0;
    color: #bdc3c7;
}

.instruction-list,
.faq-list {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
}

.welcome-instruction-item,
.sift-instruction-item,
.faq-item {
    margin: 1em 0;
    text-align: left;
    color: #212a31;
}

.welcome-instruction-item::before {
    content: "✔";
    color: #124e66;
    margin-right: 0.5em;
}

.sift-instruction-item::before {
    content: "○";
    font-size: 12px;
    color: #124e66;
    margin-right: 0.5em;
}

.faq-question {
    font-size: 1.3em;
    font-weight: bold;
    color: #212a31;
}

.faq-answer {
    font-size: 1em;
    color: #95a5a6;
    margin: 0.5em 0;
}

footer {
    margin-top: 2em;
    font-size: 1em;
    color: #212a31;
}
